@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #F05D46;
  --accent_dark: #F05D46;
  --background: #D0D4F8;
  --background_dark: #01121A;
  --primary-background: #fff;
  --primary-background_dark: #242424;
  --chatBackground: #fff;
  --chatBackground_dark: #01121A;
  --foreground: #000;
  --foreground_dark: rgb(218, 218, 218);
  --secondary-foreground: #4E4F5F;
  --secondary-foreground_dark: #C8C8C8;
  --message-box: #FFFCE8;
  --message-box_dark: #210711;
  --alert-dialog: #FFFCE8;
  --alert-dialog_dark: #181818;
  --embed-background: #e9e5fe;
  --embed-background_dark: #181818;
  --placeholder-foreground: #999;
  --placeholder-foreground_dark: #999;
  --mention: rgba(251,255,0,0.1);
  --mention_dark: rgba(251,255,0,0.1);
  --success: #65E572;
  --success_dark: #65E572;
  --warning: #FAA352;
  --warning_dark: #FAA352;
  --error: #ED4245;
  --error_dark: #ED4245;
  --hover: rgba(0,0,0,0.05);
  --hover_dark: rgba(255, 255,255,0.05);
  --primary-header: #fff;
  --primary-header_dark: #313131;
  --scrollbar-background: #2E3337;
  --scrollbar-handle: #202225;
  --scrollbar-background_dark: #2E3337;
  --scrollbar-handle_dark: #202225;
}

/* ::-webkit-scrollbar {
  width: 9px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle);
  border-radius: 10px;
} */

@font-face {
  font-family: "Bonfont";
  font-weight: 400;
  src: url("../public/assets/fonts/Bonfont-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Bonfont";
  font-weight: 600;
  src: url("../public/assets/fonts/Bonfont-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "Bonfont";
  font-weight: 700;
  src: url("../public/assets/fonts/Bonfont-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Torus";
  font-weight: 100;
  src: url("../public/assets/fonts/Torus-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "Torus";
  font-weight: 300;
  src: url("../public/assets/fonts/Torus-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Torus";
  font-weight: 400;
  src: url("../public/assets/fonts/Torus-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Torus";
  font-weight: 600;
  src: url("../public/assets/fonts/Torus-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "Torus";
  font-weight: 700;
  src: url("../public/assets/fonts/Torus-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Torus";
  font-weight: 800;
  src: url("../public/assets/fonts/Torus-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Pishel";
  font-weight: 400;
  src: url("../public/assets/fonts/Pishel-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Pishel";
  font-weight: 600;
  src: url("../public/assets/fonts/Pishel-Semibold.woff2") format("woff2");
}
@font-face {
  font-family: "Pishel";
  font-weight: 700;
  src: url("../public/assets/fonts/Pishel-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "PalmerLake";
  font-weight: 400;
  src: url("../public/assets/fonts/PalmerLake.ttf");
}

@font-face {
    font-family: "TTInterface";
    font-weight: 400;
    src: url("../public/assets/fonts/TTInterfaces-Regular.otf") format("opentype");
}
@font-face {
    font-family: "TTInterface";
    font-weight: 500;
    src: url("../public/assets/fonts/TTInterfaces-Medium.otf") format("opentype");
}
@font-face {
    font-family: "TTInterface";
    font-weight: 600;
    src: url("../public/assets/fonts/TTInterfaces-DemiBold.otf") format("opentype");
}
@font-face {
    font-family: "TTInterface";
    font-weight: 700;
    src: url("../public/assets/fonts/TTInterfaces-Bold.otf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

a {
  color: #0273f4;
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #023af4;
}

.input,
.textarea {
  font-family: inherit;
  font-size: inherit;
}
span.spanBadge[contenteditable] {
    display: inline-block;
}
span.spanBadge[contenteditable]:empty::before {
    content: attr(data-placeholder);
    display: inline-block;
    color: var(--placeholder-foreground);
}
span.spanBadge[contenteditable]:empty:focus::before {
    content: attr(data-focused-advice);
    color: var(--placeholder-foreground);
}

* {
  box-sizing: border-box;
}

.tpbg-dark {
  background-color: transparent;
  background-image: linear-gradient(45deg,#222427 25%,transparent 0,transparent 75%,#222427 0,#222427),linear-gradient(45deg,#222427 25%,transparent 0,transparent 75%,#222427 0,#222427);
  background-size: 30px 30px;
  background-position: 0 0,45px 45px;
}

.tpbg-light {
  background-color: transparent;
  background-size: 30px 30px;
  background-position: 0 0,45px 45px;
  background-image: linear-gradient(45deg,#f6f6f6 25%,transparent 0,transparent 75%,#f6f6f6 0,#f6f6f6),linear-gradient(45deg,#f6f6f6 25%,transparent 0,transparent 75%,#f6f6f6 0,#f6f6f6)
}

.yellowUnderlineText {
    background-color: transparent;
    background-image: url("/assets/yellowUnderline.svg");
    background-position: 50% 110%;
    background-size: auto;
    background-repeat: no-repeat;
    font-family: Palmerlakeprint,sans-serif;
    color: #fff142;
}

.topToBottomGradient {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 160px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#000),to(transparent)),-webkit-gradient(linear,left top,left bottom,from(#000),to(transparent));
    background-image: linear-gradient(180deg,#000,transparent),linear-gradient(180deg,#000,transparent);
}
.topToBottomGradientWhite {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 160px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(transparent)),-webkit-gradient(linear,left top,left bottom,from(#fff),to(transparent));
    background-image: linear-gradient(180deg,#fff,transparent),linear-gradient(180deg,#fff,transparent);
}